<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                        <span class='navbar-title'>
                            Schnelle-Rohrreinigung24
                        </span>
                </div>

                <div class="navbar-brand">
                        <span class='navbar-title'>
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> 01522 - 724 06 52
                        </span>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="{% if page.url == '/' %}active{% endif %}"><a href="{{site.baseurl}}/">Startseite</a>
                    </li>
                    <li class="{% if page.url contains 'leistungen' %}active{% endif %}">
                        <a href="{{site.baseurl}}/leistungen/">Leistungen</a>
                    </li>
                    <li class="{% if page.url contains 'einsatzgebiete' %}active{% endif %}">
                        <a href="{{site.baseurl}}/einsatzgebiete/">Einsatzgebiete</a>
                    </li>
                    <li class="{% if page.url contains 'karriere' %}active{% endif %}">
                        <a href="{{site.baseurl}}/karriere/">Karriere</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>