<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% if page.title%}{{page.title}} &bull; {% endif %} schnelle-rohrreinigung24 &bull; Ihr persönlicher 24h Notdienst</title>
    <meta name="description" content="{{page.meta}}">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/all.css">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->



</head>

<body>

{% include header.html %}

{{content}}

{% include footer.html %}
</body>

</html>