<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title%}{{page.title}} &bull; {% endif %} schnelle-rohrreinigung24 &bull; Ihr persönlicher 24h Notdienst</title>
    <meta name="description" content="{{page.meta}}">

    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/all.css">
</head>

<body>

{% include header.html %}

{{content}}

{% include footer.html %}

<script src="{{site.baseurl}}/assets/js/jquery-1.12.4.min.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
{% include detect-mobile.html %}

</body>
</html>